<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">js/base/layout/layout_simple.js | Devapt (Developper Application Toolkit) Core Common</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  <script src="script/manual.js"></script>
<meta name="description" content="Common features for Devapt libraries and applications."><meta property="og:type" content="website"><meta property="og:url" content="http://www.devapt.org"><meta property="og:site_name" content="Devapt (Developper Application Toolkit) Core Common"><meta property="og:title" content="Devapt (Developper Application Toolkit) Core Common"><meta property="og:image" content="https://avatars3.githubusercontent.com/u/21240408?v=4&amp;s=200"><meta property="og:description" content="Common features for Devapt libraries and applications."><meta property="og:author" content="https://github.com/lucbories"><meta property="twitter:card" content="summary"><meta property="twitter:title" content="Devapt (Developper Application Toolkit) Core Common"><meta property="twitter:description" content="Common features for Devapt libraries and applications."><meta property="twitter:image" content="https://avatars3.githubusercontent.com/u/21240408?v=4&amp;s=200"></head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./" style="display: flex; align-items: center;"><img src="./image/brand_logo.png" style="width:34px;"></a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
<a style="position:relative; top:3px;" href="https://github.com/lucbories/devapt-core-common"><img width="20px" src="./image/github.png"></a></header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#base">base</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/component.js~Component.html">Component</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/container.js~Container.html">Container</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/feature.js~Feature.html">Feature</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/name_type_settings_loggable.js~NameTypeSettingsLoggable.html">NameTypeSettingsLoggable</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/web_worker.js~WebWorker.html">WebWorker</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#base-binding">base/binding</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/binding/binding_service.js~BindingService.html">BindingService</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/binding/binding_service_timeline.js~BindingServiceTimeline.html">BindingServiceTimeline</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/binding/binding_stream.js~BindingStream.html">BindingStream</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/binding/bindings_loader.js~BindingLoader.html">BindingLoader</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#base-component">base/component</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/component/bound_dom.js~BoundDom.html">BoundDom</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/component/dom.js~Dom.html">Dom</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/component/rendered_dom.js~RenderedDDom.html">RenderedDDom</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/component/rendering.js~Rendering.html">Rendering</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/component/stated_dom.js~StatedDom.html">StatedDom</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/component/unused_component.js~Component.html">Component</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#base-layout">base/layout</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/layout/layout.js~Layout.html">Layout</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/base/layout/layout_simple.js~LayoutSimple.html">LayoutSimple</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#commands">commands</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/commands/command.js~Command.html">Command</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/commands/display_command.js~DisplayCommand.html">DisplayCommand</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/commands/worker_command.js~WorkerCommand.html">WorkerCommand</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components">components</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/attributes_table.js~AttributesTable.html">AttributesTable</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/dock.js~Dock.html">Dock</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/dock_item.js~DockItem.html">DockItem</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/input-field.js~InputField.html">InputField</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/logs_table.js~LogsTable.html">LogsTable</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/page.js~Page.html">Page</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/records_table.js~RecordsTable.html">RecordsTable</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/table.js~Table.html">Table</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/table_tree.js~TableTree.html">TableTree</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/tabs.js~Tabs.html">Tabs</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/topology.js~Topology.html">Topology</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/tree.js~Tree.html">Tree</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#loggers">loggers</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/loggers/console_logger.js~ConsoleLogger.html">ConsoleLogger</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/loggers/stream_logger.js~StreamLogger.html">StreamLogger</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#runtime">runtime</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/runtime/client_runtime.js~ClientRuntime.html">ClientRuntime</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/runtime/router.js~Router.html">Router</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/runtime/router_state.js~RouterState.html">RouterState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/runtime/service.js~Service.html">Service</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/runtime/service_operation.js~ServiceOperation.html">ServiceOperation</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/runtime/ui.js~UI.html">UI</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/runtime/ui_factory.js~UIFactory.html">UIFactory</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/runtime/ui_rendering.js~UIRendering.html">UIRendering</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">js/base/layout/layout_simple.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">// NPM IMPORTS
// import assert from &apos;assert&apos;
import _ from &apos;lodash&apos;
import vdom_as_json from &apos;vdom-as-json&apos;
const vdom_from_json = vdom_as_json.fromJson
import VNode from &apos;virtual-dom/vnode/vnode&apos;

// COMMON IMPORTS
import T from &apos;devapt-core-common/dist/js/utils/types&apos;

// BROWSER IMPORTS
import Layout from &apos;./layout&apos;


const context = &apos;browser/base/layout/layout_simple&apos;



/**
 * @file LayoutSimple class.
 * 
 * @author Luc BORIES
 * 
 * @license Apache-2.0
 */
export default class LayoutSimple extends Layout
{
	/**
	 * Creates an instance of LayoutSimple:a simple layout with a content element which contains a menubar, a breadcrumbs, a separator and a main view.
	 * @extends Layout
	 * 
	 * A Layout configuration is a simple object with this common attributes:
	 * 		- name:string - command unique name.
	 * 		- type:string - type of commnand from command factory known types list (example: display).
	 * 
	 * 	API
	 * 		-&gt;get_name():string - get command name (INHERITED).
	 * 		-&gt;get_type():string - get command type (INHERITED).
	 * 		-&gt;get_settings():object - get instance type (INHERITED).
	 * 		-&gt;is_valid():boolean - check if instance is valid (settings...) (INHERITED).
	 * 
	 * 		-&gt;switch(arg_previous_component, arg_target_component_name, arg_is_menubar, arg_is_breadcrumbs):Promise({...}) - Switch previously displayed component with target component.
	 * 		-&gt;render_page_content():Promise - render page content components.
	 * 		-&gt;process_rendering_result(arg_rendering_result):array - Process a RenderingResult instance.
	 * 
	 * 		-&gt;get_content_element():Element - Get page content element.
	 * 		-&gt;init_content_element():Element - Init page content element.
	 * 		-&gt;clear_page_content(do_not_hide_components):Promise - clear page content components.
	 * 
	 * 		-&gt;render_page_content_vnode(arg_vnode, arg_rendering_result, arg_credentials):array - Render page content with a global VNode.
	 * 
	 * @param {object}           arg_runtime     - runtime.
	 * @param {object}           arg_settings    - instance settings.
	 * @param {string|undefined} arg_log_context - context of traces of this instance (optional).
	 * 
	 * @returns {nothing}
	 */
	constructor(arg_runtime, arg_settings, arg_log_context)
	{
		const log_context = arg_log_context ? arg_log_context : context
		super(arg_runtime, arg_settings, log_context)
		
		this.is_simple_layout = true

		this._content_element = undefined
		this._content_id = &apos;content&apos;

		// this.enable_trace()
		this.disable_trace()
		this.update_trace_enabled()
	}



	/**
	 * Switch previously displayed component with target component.
	 * 
	 * @param {Component} arg_previous_component    - previous component instance.
	 * @param {string}    arg_target_component_name - target component name.
	 * @param {boolean}   arg_is_menubar            - target component is a menubar?
	 * @param {boolean}   arg_is_breadcrumbs        - target component is a breadcrumbs?
	 * 
	 * @returns {Promise} - Promise of { switch:false, component:arg_previous_component }
	 */
	switch(arg_previous_component, arg_target_component_name, arg_is_menubar, arg_is_breadcrumbs)
	{
		this.enter_group(&apos;switch: for &apos; + (arg_target_component_name ? arg_target_component_name : &apos;bad target name&apos;) )

		if ( ! T.isString(arg_target_component_name) )
		{
			this.leave_group(&apos;switch:error bad target name for &apos; + (arg_target_component_name ? arg_target_component_name.toString().splice(0, 20) : &apos;&apos;) )
			return Promise.reject(context + &apos;:switch:bad target name string&apos;)
		}

		if (arg_previous_component &amp;&amp; arg_previous_component.get_name() == arg_target_component_name )
		{
			this.debug(&apos;switch:previous component exists and has same name as target component name=&apos; + arg_target_component_name)

			arg_previous_component.show()
			arg_previous_component.update()
			arg_previous_component.is_menubar     = arg_is_menubar
			arg_previous_component.is_breadcrumbs = arg_is_breadcrumbs

			
			this.leave_group(&apos;switch:async for &apos; + (arg_target_component_name ? arg_target_component_name : &apos;bad target name&apos;) )
			return Promise.resolve( { switch:false, component:arg_previous_component } )
		}

		let previous_parent = undefined
		if (arg_previous_component &amp;&amp; arg_previous_component.get_name() != arg_target_component_name )
		{
			this.debug(&apos;switch:previous component [&apos; + arg_previous_component.get_name() + &apos;] exists and has a different name as target component name=&apos; + arg_target_component_name)
			arg_previous_component.hide()
			previous_parent = arg_previous_component.get_dom_parent()
		}

		if ( ! this._ui.has(arg_target_component_name) )
		{
			this.debug(&apos;switch:target component doesn t exists for name=&apos; +arg_target_component_name)

			// CREATE ELEMENT
			// const dom_id = component.get_dom_id()
			// let element = document.getElementById(dom_id)
			// if (! element)
			// {
			// 	this.debug(&apos;create:component dom element is created as a div:&apos; + dom_id)
			// 	element = document.createElement(&apos;div&apos;)
			// 	element.setAttribute(&apos;id&apos;, dom_id)
			// 	const content_element = this._runtime.ui()._ui_layout.get_content_element()
			// 	if (! content_element)
			// 	{
			// 		const msg = &apos;create:no content element&apos;
			// 		this.error(msg)
			// 		this.leave_group(msg)
			// 		return { component:undefined, promise:Promise.reject(context + msg) }
			// 	}
			// 	content_element.appendChild(element)
			// }


			const target_component_promise = this._ui.create(arg_target_component_name)
			.then(
				(component)=&gt;{
					this.debug(&apos;switch:target component is created for &apos; + arg_target_component_name)

					// console.log(context + &apos;:render_page_content:%s:with view=&apos;, component.get_name(), component)

					this._ui.page.content = component
					this.is_menubar     = false
					this.is_breadcrumbs = false

					return component.render().then(()=&gt;{return component})
				}
			)
			.then(
				(component)=&gt;{
					this.debug(&apos;switch:target component is rendered for &apos; + arg_target_component_name)

					component.set_dom_parent_of(arg_previous_component)
					component.show()
					component.update()
					component.is_menubar     = arg_is_menubar
					component.is_breadcrumbs = arg_is_breadcrumbs
					
					return component
				}
			)
			.then(
				(component)=&gt;{
					this.debug(&apos;switch:target component is shown and updated for &apos; + arg_target_component_name)
					
					return { switch:true, component:component }
				}
			)
			.catch(
				(reason)=&gt;{
					this.error(&apos;switch:an error occures:&apos; + reason)
				}
			)

			this.leave_group(&apos;switch:async for &apos; + (arg_target_component_name ? arg_target_component_name : &apos;bad target name&apos;) )
			return target_component_promise
		}

		this.debug(&apos;switch:target component exists for &apos; + arg_target_component_name)
		const component = this._ui.get(arg_target_component_name)
		if (! component.has_dom_parent(previous_parent) )
		{
			this.debug(&apos;switch:target component [&apos; + arg_target_component_name + &apos;]:set dom parent&apos;)
			component.set_dom_parent(previous_parent)
		}
		component.show()
		component.update()
		component.is_menubar     = arg_is_menubar
		component.is_breadcrumbs = arg_is_breadcrumbs

		return Promise.resolve( { switch:true, component:component } )
	}



	/**
	 * Render page content with components names.
	 * 
	 * @param {object} arg_components - components to display: { view:&apos;&apos;, menubar:&apos;&apos;, breadcrumbs:&apos;&apos; }
	 * 
	 * @returns {Promise}
	 */
	render_page_content(arg_components)
	{
		this.enter_group(&apos;render_page_content&apos;)

		if (! T.isObject(arg_components) )
		{
			return Promise.reject(context + &apos;:render_page_content:bad components object&apos;)
		}

		const separator_name   = &apos;separator&apos;
		const middleware       = T.isString(arg_components.middleware)       ? arg_components.middleware : undefined
		const route            = T.isString(arg_components.route)            ? arg_components.route : undefined
		let view_name          = T.isString(arg_components.view)             ? arg_components.view : undefined
		let menubar_name       = T.isString(arg_components.menubar)          ? arg_components.menubar : undefined
		let breadcrumbs_name   = T.isString(arg_components.breadcrumbs)      ? arg_components.breadcrumbs : undefined
		const rendering_result = T.isObject(arg_components.rendering_result) ? arg_components.rendering_result : undefined

		this.debug(&apos;render_page_content:middleware:&apos;,       middleware)
		this.debug(&apos;render_page_content:route:&apos;,            route)
		this.debug(&apos;render_page_content:view_name:&apos;,        view_name)
		this.debug(&apos;render_page_content:menubar_name:&apos;,     menubar_name)
		this.debug(&apos;render_page_content:breadcrumbs_name:&apos;, breadcrumbs_name)
		this.debug(&apos;render_page_content:rendering_result:&apos;, rendering_result &amp;&amp; rendering_result.settings ? rendering_result.settings.name : &apos;&apos;)

		let promise = Promise.resolve()
		

		// GET CONTENT STATE ITEMS
		const body_contents_path = [&apos;views&apos;, &apos;content&apos;, &apos;state&apos;, &apos;body_contents&apos;]
		let content_state_items = this.get_state_store().get_state().getIn(body_contents_path)

		content_state_items = content_state_items ? content_state_items.toJS() : []
		this.debug(&apos;render_page_content:content_state_items&apos;, content_state_items)

		if (content_state_items.length &gt; 0)
		{
			if ( T.isString(menubar_name) &amp;&amp; content_state_items[0] != menubar_name)
			{
				content_state_items[0] = menubar_name
			}
		}
		if (content_state_items.length &gt; 1)
		{
			if ( T.isString(separator_name) &amp;&amp; content_state_items[1] != separator_name)
			{
				content_state_items[1] = separator_name
			}
		}
		if (content_state_items.length &gt; 2)
		{
			if ( T.isString(view_name) &amp;&amp; content_state_items[2] != view_name)
			{
				content_state_items[2] = view_name
			}
		}

		// GET CONTENT ELEMENT
		const content_element = this.get_content_element()
		if (! content_element)
		{
			this.error(&apos;render_page_content:no content element&apos;)
			this.leave_group(&apos;render_page_content:error:no content element&apos;)
			return Promise.reject(&apos;render_page_content:no content element&apos;)
		}
		
		
		// INIT CONTENT ELEMENTS
		if (! content_state_items)
		{
			this.error(&apos;render_page_content:error:no content state item&apos;)
			this.leave_group(&apos;render_page_content:error:no content state item&apos;)
			return Promise.reject(&apos;render_page_content:no content state items&apos;)
		}
		_.forEach(content_state_items,
			(item)=&gt;{
				let element = document.getElementById(item)
				if (element)
				{
					this.debug(&apos;render_page_content:content item exists:&apos; + item)
					return
				}
				this.debug(&apos;render_page_content:content item is created as a div:&apos; + item)
				element = document.createElement(&apos;div&apos;)
				element.setAttribute(&apos;id&apos;, item)
				content_element.appendChild(element)
			}
		)

		// REQUEST MIDDLEWARE
		if(middleware)
		{
			this.debug(&apos;render_page_content:request middleware:async&apos;)

			promise = promise
			.then(
				()=&gt;this._ui.request_middleware(middleware, route)
			)
			.then(
				(rendering_result)=&gt;{
					this.debug(&apos;render_page_content:request middleware:rendering result&apos;)

					const components = this.process_rendering_result(rendering_result)
					return components
				}
			)
		}

		// PROCESS RENDERING RESULT
		if (rendering_result)
		{
			this.debug(&apos;render_page_content:process rendering result:async&apos;)

			promise = promise
			.then(
				()=&gt;{
					const components = this.process_rendering_result(rendering_result)
					return components
				}
			)
		}
		
		// PROCESS COMPONENTS
		promise = promise.then(
			(components)=&gt;{
				this.debug(&apos;render_page_content:process components:async&apos;)

				// SEARCH VIEW NAME, MENUBAR NAME AND BREADCRUMBS NAME INSIDE COMPONENTS LIST
				// console.log(context + &apos;render_page_content:process components:components=&apos;, components)
				components = T.isArray(components) ? components : []
				_.forEach(components,
					(component)=&gt;{
						const classes = component.get_dom_element().className

						this.debug(&apos;render_page_content:search components:component=&apos; + component.get_name())
						this.debug(&apos;render_page_content:search components:component.is_menubar=&apos; + component.is_menubar)
						this.debug(&apos;render_page_content:search components:component.is_breadcrumbs=&apos; + component.is_breadcrumbs)
						this.debug(&apos;render_page_content:search components:component.is_view=&apos; + component.is_view)
						this.debug(&apos;render_page_content:search components:component.classes=&apos; + classes)
						this.debug(&apos;render_page_content:search components:component.has menubar class=&apos; + (classes.search(&apos;devapt-kindof-menubar&apos;) &gt; -1))
						this.debug(&apos;render_page_content:search components:component.has breadcrumbs class=&apos; + (classes.search(&apos;devapt-kindof-breadcrumbs&apos;) &gt; -1))

						if (! T.isString(menubar_name) &amp;&amp; (component.is_menubar || classes.search(&apos;devapt-kindof-menubar&apos;) &gt; -1) )
						{
							menubar_name = component.get_name()
							return
						}
						
						if (! T.isString(breadcrumbs_name) &amp;&amp; (component.is_breadcrumbs || classes.search(&apos;devapt-kindof-breadcrumbs&apos;) &gt; -1) )
						{
							breadcrumbs_name = component.get_name()
							return
						}

						if (! T.isString(view_name) &amp;&amp; component.get_name() != separator_name)
						{
							view_name = component.get_name()
							return
						}
					}
				)

				this.debug(&apos;render_page_content:view_name:&apos;,        view_name)
				this.debug(&apos;render_page_content:menubar_name:&apos;,     menubar_name)
				this.debug(&apos;render_page_content:breadcrumbs_name:&apos;, breadcrumbs_name)

				let promises = []

				if( T.isString(view_name) )
				{
					const content_promise = this.switch(this._ui.page.content, view_name, false, false)
					.then(
						(component_switch)=&gt;{
							this._ui.page.content = component_switch.component
							return component_switch
						}
					)
					promises.push(content_promise)
				}

				if( T.isString(menubar_name) )
				{
					const menubar_promise = this.switch(this._ui.page.menubar, menubar_name, true, false)
					.then(
						(component_switch)=&gt;{
							this._ui.page.menubar = component_switch.component
							return component_switch
						}
					)
					promises.push(menubar_promise)
				}

				if( T.isString(breadcrumbs_name) )
				{
					const  breadcrumbs_promise = this.switch(this._ui.page. breadcrumbs, breadcrumbs_name, false, true)
					.then(
						(component_switch)=&gt;{
							this._ui.page. breadcrumbs = component_switch.component
							return component_switch
						}
					)
					promises.push( breadcrumbs_promise)
				}

				return Promise.all(promises)
			}
		)
		.then(
			(components_switchs)=&gt;{
				
				// UPDATE PAGE CONTENT BODY STATE
				const components_names = []
				_.forEach(components_switchs,
					(component_switch)=&gt;{
						const component = component_switch.component
						// const should_switch = component_switch.switch
						const name = component.get_name()

						components_names.push(name)
					}
				)

				const action = { type:&apos;SET_PAGE_CONTENT&apos;, resource:&apos;content&apos;, content_body:components_names }
				this.get_state_store().dispatch(action)

				// EXECUTE BOOTSTRAP HANDLERS
				window.devapt().content_rendered()
			}
		)
		.catch(
			(reason)=&gt;{
				return Promise.reject(context + &apos;:render_page_content:&apos; + reason)
			}
		)

		this.leave_group(&apos;render_page_content:async&apos;)
		return promise
	}



	/**
	 * Process a RenderingResult instance.
	 * 
	 * @param {RenderingResult} arg_rendering_result - rendering result.
	 * 
	 * @param {array} - rendered components.
	 */
	process_rendering_result(arg_rendering_result)
	{
		this.enter_group(&apos;process_rendering_result&apos;)

		// DEBUG
		// console.log(context + &apos;:process_rendering_result:arg_rendering_result&apos;, arg_rendering_result)
		// console.log(context + &apos;:process_rendering_result:arg_rendering_result.vtrees&apos;, arg_rendering_result.vtrees)

		const vnodes = arg_rendering_result.vtrees
		this.debug(&apos;process_rendering_result:rendering_result has vnodes count=&apos; + _.size(vnodes))

		let components = []

		_.forEach(vnodes,
			(vnode_json, id)=&gt;{
				this.debug(&apos;process_rendering_result:id:&apos;, id)

				const credentials = undefined

				// DESERIALIZE VNODE JSON
				let vnode = vdom_from_json(vnode_json)
				vnode.prototype = VNode.prototype
				this.debug(&apos;process_rendering_result:vnode:&apos;, vnode)
				
				// PROCESS CONTENT VNODE
				if (id == this._content_id)
				{
					const content_components = this.render_page_content_vnode(vnode, arg_rendering_result, credentials)
					components = components.concat(content_components)
					return
				}

				// PROCESS OTHER COMPONENT VNODE
				const component = this._ui.get(id)
				if (component &amp;&amp; component.is_component)
				{
					this.debug(&apos;process_rendering_result:component found for id &apos; + id)

					component.process_rendering_vnode(vnode)
				} else {
					this.warn(&apos;process_rendering_result:component not found for id &apos; + id)
					components.push(component)
				}
			}
		)

		this.leave_group(&apos;process_rendering_result:components.length=&apos; + components.length)
		return components
	}



	/**
	 * Get page content element.
	 * 
	 * @returns {Element}
	 */
	get_content_element()
	{
		if (! this._content_element)
		{
			this.init_content_element()
			if (! this._content_element)
			{
				this.error(&apos;get_content_element:content:no content element&apos;)
				return undefined
			}
		}

		return this._content_element
	}



	/**
	 * Init page content element.
	 * 
	 * @returns {Element}
	 */
	init_content_element()
	{
		this._content_element = document.getElementById(this._content_id)
		if (! this._content_element)
		{
			this._content_element = document.createElement(&apos;div&apos;)
			this._content_element.setAttribute(&apos;id&apos;, this._content_id)
			document.body.appendChild(this._content_element)
		}
	}



	/**
	 * Clear page content components.
	 * 
	 * @param {array} arg_do_not_hide_components - components names array to leave unchanged.
	 * 
	 * @returns {Promise}
	 */
/*	clear_page_content(arg_do_not_hide_components=[])
	{
		this.enter_group(&apos;clear_content&apos;)

		// GET CONTENT ELEMENT
		const content_element = this.get_content_element()
		if (! content_element)
		{
			this.error(&apos;clear_content:content:no content element&apos;)
			this.leave_group(&apos;clear_content:error&apos;)
			return
		}

		const hidden_children = {}
		let child_index = 0
		let children_count = content_element.children.length
		while(child_index &lt; children_count)
		{
			const child_element = content_element.children[child_index]
			this.debug(&apos;clear_content:remove: child_element&apos;, child_element)


			const child_id = child_element.getAttribute(&apos;id&apos;)
			if (! child_id)
			{
				this.debug(&apos;clear_content:child without id at position &apos; + child_index - 1)
				content_element.removeChild(child_element)
				children_count = content_element.children.length
				continue
			}

			if ( arg_do_not_hide_components.indexOf(child_id) &gt; -1 )
			{
				this.debug(&apos;clear_content:do not hide &apos; + child_id)
				++child_index
				continue
			}
			
			const child_component = this._ui.get(child_id)
			if (! child_component)
			{
				this.debug(&apos;clear_content:child component not found for id  &apos; + child_id)
				content_element.removeChild(child_element)
				children_count = content_element.children.length
				continue
			}
			
			const classes = child_component.get_dom_element().className
			if (classes.search(&apos;devapt-layout-persistent&apos;) &gt; -1)
			{
				this.debug(&apos;clear_content:peristent child component found for id  &apos; + child_id)
				++child_index
				continue
			}

			this.debug(&apos;clear_content:child component is hidden for id  &apos; + child_id)
			hidden_children[child_id] = child_component
			child_component.hide()
			++child_index
		}

		this.leave_group(&apos;clear_content:children count=&apos; + children_count + &apos; hidden count=&apos; + Object.keys(hidden_children).length)
	}*/


	
	/**
	 * Render page content with a global VNode.
	 * 
	 * @param {VNode}           arg_vnode            - rendered virtual dom node.
	 * @param {RenderingResult} arg_rendering_result - rendering result associated with given vnode.
	 * @param {Credentials}     arg_credentials      - user session credentials.
	 * 
	 * @returns {array} - array of rendered Component instances.
	 */
	render_page_content_vnode(arg_vnode, arg_rendering_result, arg_credentials)
	{
		this.enter_group(&apos;render_page_content_vnode&apos;)

		// GET CONTENT ELEMENT
		const content_element = this.get_content_element()
		if (! content_element)
		{
			this.error(&apos;render_page_content_vnode:content:no content element&apos;)
			this.leave_group(&apos;render_page_content_vnode:error&apos;)
			return
		}

		// DEBUG
		// console.log(context + &apos;:render_page_content_vnode:arg_vnode&apos;, arg_vnode)
		// console.log(context + &apos;:render_page_content_vnode:arg_rendering_result&apos;, arg_rendering_result)

		// GET CONTENT STATE ITEMS
		const body_contents_path = [&apos;views&apos;, &apos;content&apos;, &apos;state&apos;, &apos;body_contents&apos;]
		let content_state_items = this.get_state_store().get_state().getIn(body_contents_path)

		content_state_items = content_state_items ? content_state_items.toJS() : undefined
		this.debug(&apos;render_page_content_vnode:content_state_items&apos;, content_state_items)

		// GET VNODE CHILDREN NAMES
		const get_vnode_id_fn = (vnode)=&gt;{
			return vnode &amp;&amp; vnode.properties &amp;&amp; vnode.properties.id ? vnode.properties.id : undefined
		}
		const vnode_children = arg_vnode.children
		const vnode_children_names = vnode_children.map(get_vnode_id_fn).filter( (v)=&gt;! T.isUndefined(v) )
		this.debug(&apos;process_content_vnode:vnode_children_names&apos;, vnode_children_names)

		// GET ORDERED CHILDREN LIST
		const ordered_children_names = vnode_children_names &amp;&amp; vnode_children_names.length &gt; 0 ? vnode_children_names : content_state_items
		this.debug(&apos;render_page_content_vnode:ordered_children_names&apos;, ordered_children_names)
		
		// LOOP ON VNODE CHILDREN
		const children_components = []
		const components_names = []
		_.forEach(ordered_children_names,
			(child_name)=&gt;{
				this.debug(&apos;render_page_content_vnode:loop on child node:&apos; + child_name)

				const child_vnode = vnode_children.find( (vnode)=&gt;vnode.properties.id == child_name )
				// console.log(context + &apos;:process_content_vnode:child name=%s child_vnode=&apos;, child_name, child_vnode)

				if (! child_vnode)
				{
					console.warn(context + &apos;:render_page_content_vnode:child name=%s bad child_vnode&apos;, child_name)
					return
				}

				const child_id = child_name
				this.debug(&apos;render_page_content_vnode:content child found for id &apos; + child_id)

				// GET CONTENT CHILD COMPONENT
				const child_component = this._ui.get(child_name)
				if (! child_component || ! child_component.is_component)
				{
					this.warn(&apos;render_page_content_vnode:bad child component for name [&apos; + child_name + &apos;]&apos;, child_component)
					return
				}

				// RENDER CONTENT CHILD COMPONENT
				this.debug(&apos;render_page_content_vnode:process rendering vnode for &apos; + child_id)
				child_component.process_rendering_vnode(child_vnode, arg_rendering_result, arg_credentials)
				
				// APPEND CHILD DOM ELEMENT TO CONTENT DOM ELEMENT
				if ( ! child_component.has_dom_parent(content_element) )
				{
					let child_element = child_component.get_dom_element()
					if (! child_element)
					{
						this.error(&apos;render_page_content_vnode:no dom element for child &apos; + child_id)
						return
					}
					content_element.appendChild(child_element)
				}

				children_components.push(child_component)
				components_names.push(child_component.get_name())
			}
		)


		// UPDATE ASSETS URL
		this._ui._ui_rendering.process_assets_urls_templates(arg_rendering_result.assets_urls_templates)

		// UPDATE HEADERS AND ASSETS
		this._ui._ui_rendering.process_rendering_result_headers(arg_rendering_result.headers, arg_credentials)
		
		// PROCESS HEAD STYLES AND SCRIPTS
		this._ui._ui_rendering.process_rendering_result_styles_urls (document.head, arg_rendering_result.head_styles_urls, arg_credentials)
		this._ui._ui_rendering.process_rendering_result_styles_tags (document.head, arg_rendering_result.head_styles_tags, arg_credentials)
		this._ui._ui_rendering.process_rendering_result_scripts_urls(document.head, arg_rendering_result.head_scripts_urls, arg_credentials)
		this._ui._ui_rendering.process_rendering_result_scripts_tags(document.head, arg_rendering_result.head_scripts_tags, arg_credentials)

		// PROCESS BODY STYLES AND SCRIPTS
		this._ui._ui_rendering.process_rendering_result_styles_urls (document.body, arg_rendering_result.body_styles_urls, arg_credentials)
		this._ui._ui_rendering.process_rendering_result_styles_tags (document.body, arg_rendering_result.body_styles_tags, arg_credentials)
		this._ui._ui_rendering.process_rendering_result_scripts_urls(document.body, arg_rendering_result.body_scripts_urls, arg_credentials)
		this._ui._ui_rendering.process_rendering_result_scripts_tags(document.body, arg_rendering_result.body_scripts_tags, arg_credentials)

		this.leave_group(&apos;render_page_content_vnode:content&apos;)
		return children_components
	}
}</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(1.0.3)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
